@import "tailwindcss";
html,
body {
  cursor: none; /* hide native cursor */
}

form,
input,
textarea,
select,
button,
label,
a {
  cursor: url("/cursor.cur") 16 16, auto; /* fix typo and hotspot */
}

/* Popcorn shake on click */
@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}

.cursor-shake {
  animation: shake 0.3s ease-in-out;
}

/* Falling popcorn animation */
@keyframes fall {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(100vh);
  }
}

.fall {
  animation: fall 2s linear forwards;
}
